
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=DM+Serif+Text&display=swap');
@import "tailwindcss";


@theme {
    --color-preto: #111111;
    --color-verde1: #0f1c15;
    --color-verde2: #16281f;
    --color-verde3: #2e482c;
    --color-verde4: #17e880;
    --color-verde5: #91ee77;
    --color-verde6: #acef75;
    --font-sans: 'DM Sans', sans-serif ;
    --font-serif:'DM Serif Text', serif;
  }

  